# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Public folder
public/

# Data folder
data/

# Ignore any other files that are OS or editor specific
.DS_Store
Thumbs.db

# Ignore build output (if applicable)
dist/
build/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
.vercel
